body {
    background-color:   hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
}

.card{
    align-items: center;
    background-color: hsl(228, 33%, 97%);
    width: 800;
    height: auto;
}

footer {
    margin-bottom: 0px;
}

button {
    cursor: pointer;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 20px 10px;
    font-size: 16px;
    align-items: center; 
}

.voting {
    display: flex;
    flex-direction: column;
    position: absolute;
    float: left;
    margin-top: 60px;
}

 .plusButton {
    background-color: hsl(211, 10%, 45%);
    color: hsl(228, 33%, 97%);
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding: 7px 15px 7px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }

 .minusButton {
    background-color: hsl(211, 10%, 45%);
    color: hsl(228, 33%, 97%);
    font-size: 20px;
    font-weight: 500;
    border: none;
    padding: 7px 15px 7px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
 }

 .likes {
    text-align:center;
    background-color: hsl(228, 33%, 97%);
    color: hsl(238, 40%, 52%);
    font-weight: 500;
    padding: 7px 0px 7px 0px;
    margin-bottom: 0;
 }

 img{
    margin: 0px 15px 25x 50px;
    padding-left: 25px;
    display: inline-block;
}

.time {
    color: hsl(211, 10%, 45%);
    margin: 0px 10px 0px 10px;
    display: inline-block;
 }

 .username {
    color: hsl(212, 24%, 26%);
    font-weight: 600;
    margin: 0px 10px 0px 10px;
    display: inline-block;
 }

 .postInfo {
    display: inline-block;
 }

 .comment {
    margin: 10px;
    padding: 25px;
    width: 800px;
    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);
    float: right;
 }

 .commentText {
    color: hsl(211, 10%, 45%);
    margin: 75px 0px 0px 55px;
    padding-left: 25px;
 }

 .reply {
    margin: 10px 10px 10px 200px;
    padding: 25px;
    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);
    width: 610px;
    float: right;
 }

 .replyText {
    color: hsl(211, 10%, 45%);
    margin: 75px 0px 0px 55px;
    padding-left: 25px;
 }

 .replyButton {
    margin-left: auto;
    color: hsl(238, 40%, 52%);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: hsl(0, 0%, 100%);
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
 }

 .postComment {
    display: flex;
    flex-direction: row;
    padding: 25px;
    border-radius: 16px;
    background-color:  hsl(0, 0%, 100%);
    width: 800px;
    margin-top: 10px;
    float: right;
 }

.editButton {
    margin-left: auto;
    color: hsl(238, 40%, 52%);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: hsl(0, 0%, 100%);
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;

}

 .deleteButton {
    margin-left: auto;
    color: hsl(357, 100%, 86%);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: hsl(0, 0%, 100%);
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 10px;
 }

 .replyPicture {
    margin: 0px 15px 0px 5px;
    padding-left: 5px;
    height: 65px;
 }

 .replyInput {
    border: 1px solid hsl(223, 19%, 93%);
    border-radius: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
    width: 650px;
    height: 100px;
 }

 .sendButton {
    background-color: hsl(238, 40%, 52%);
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-size: 15px;
    margin: 10px;
    border-radius: 10px;
    padding: 5px 25px 5px 25px;
    border: none;
    height: 45px;
 }